<configuration>

	<system.webServer>   

	<iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
	interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
	 promoteServerVars="REMOTE_USER,REMOTE_HOST,LOCAL_ADDR"/>

	<handlers>
	<!-- Indicates that the www file is a node.js entry point -->
	<add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
	</handlers>

		<rewrite>
        
			<rules>

				<!-- All other URLs are mapped to the node.js entry point -->
				<rule name="DynamicContent">

				<conditions>
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
				</conditions>
				<action type="Rewrite" url="server.js"/>

				</rule>

			</rules>

		</rewrite>

	</system.webServer>
	
	<system.web>
		<httpRuntime executionTimeout="200" />
	</system.web>

</configuration>